/* 
    Created on : 9/06/2018, 04:40:08 PM
    Author     : kaimo
*/
#mySidenav a {
    position: fixed;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0; 
}

#mySidenav a:hover {
    left: 0;
}

/*APARTADO DEL ADMINISTRADOR*/
#user {
    top: 20px;
    background-color: #2196F3;
}


/*APARTADO UNICAMENTE DEL PROFESOR*/
#createDiagram {
    top: 80px;
    background-color: #2196F3;
}

#setActivity {
    top: 160px;
    background-color: #f44336;
}

#evalue{
    top: 220px;
    background-color: #555
}

/*APARTADO DEL ALUMNO*/
#myActivity {
    top: 80px;
    background-color: #2196F3;
}

#myProjects {
    top: 160px;
    background-color: #f44336;
}
