/* 
    Created on : 9/06/2018, 08:53:18 PM
    Author     : kaimo
*/
body{
    margin:0;
    font-family: "Century Gothic";
    height: 950px;
    background: #fff5dd;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #defef7, #ff8870);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #defef7, #ff8870); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
    color: #fff;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}

input[type="file"]{
    margin: 0 0 15px;
    padding: 10px 1%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
}

.principal {
    width: 81%;
    margin: 0 auto;
    padding: 3% 0 6% 0;
    clear: both;
}

.barra {
    background: #F3F3F3;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px rgb(0,0,0,0.2);
    height: 25px;
}

.cancel {
    background: #ed1f3c !important;
}

.barra_azul {
    background: #247CC0;
    border-radius: 10px;
    display: block;
    box-shadow: inset 0px 0px 5px rgb(0,0,0,0.2);
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 0%;
}

.barra_verde {
    background-color: #2EA265 !important; 
}

.barra_roja {
    background-color: #DE3152 !important; 
}

#form-upload {
    margin: 1.5% 0;
    padding: 2%;
}

#barra_estado span {
    color: #fff;
    font-weight: bold;
    line-height: 25px;
}

