<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet_login</servlet-name>
        <servlet-class>OurServlets.Servlet_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_register</servlet-name>
        <servlet-class>OurServlets.Servlet_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_drop</servlet-name>
        <servlet-class>OurServlets.Servlet_drop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_update</servlet-name>
        <servlet-class>OurServlets.Servlet_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Admin</servlet-name>
        <servlet-class>OurServlets.Servlet_Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_call_upd</servlet-name>
        <servlet-class>OurServlets.Servlet_call_upd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyUser</servlet-name>
        <servlet-class>OurServlets.ModifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administrador</servlet-name>
        <servlet-class>OurServlets.Administrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Frame_Rigth</servlet-name>
        <servlet-class>OurServlets.Frame_Rigth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Frame_Left</servlet-name>
        <servlet-class>OurServlets.Frame_Left</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Teacher</servlet-name>
        <servlet-class>OurServlets.Teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student</servlet-name>
        <servlet-class>OurServlets.Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_joinGroup</servlet-name>
        <servlet-class>OurServlets.Servlet_joinGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Diagram</servlet-name>
        <servlet-class>OurServlets.Servlet_Diagram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_get_text</servlet-name>
        <servlet-class>OurServlets.Servlet_get_text</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>OurServlets.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_student_diagram</servlet-name>
        <servlet-class>OurServlets.Servlet_student_diagram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetUsers</servlet-name>
        <servlet-class>OurServlets.ServletGetUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditUser</servlet-name>
        <servlet-class>OurServlets.ServletEditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDropUser</servlet-name>
        <servlet-class>OurServlets.ServletDropUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetGroups</servlet-name>
        <servlet-class>OurServlets.ServletGetGroups</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDropGroups</servlet-name>
        <servlet-class>OurServlets.ServletDropGroups</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditGroups</servlet-name>
        <servlet-class>OurServlets.ServletEditGroups</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetDiagrams</servlet-name>
        <servlet-class>OurServlets.ServletGetDiagrams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDropDiagrams</servlet-name>
        <servlet-class>OurServlets.ServletDropDiagrams</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_login</servlet-name>
        <url-pattern>/Servlet_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_register</servlet-name>
        <url-pattern>/Servlet_register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_drop</servlet-name>
        <url-pattern>/Servlet_drop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Admin</servlet-name>
        <url-pattern>/Servlet_Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_update</servlet-name>
        <url-pattern>/Servlet_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_call_upd</servlet-name>
        <url-pattern>/Servlet_call_upd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyUser</servlet-name>
        <url-pattern>/ModifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administrador</servlet-name>
        <url-pattern>/Administrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Frame_Rigth</servlet-name>
        <url-pattern>/Frame_Rigth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Frame_Left</servlet-name>
        <url-pattern>/Frame_Left</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Teacher</servlet-name>
        <url-pattern>/Teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student</servlet-name>
        <url-pattern>/Student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_joinGroup</servlet-name>
        <url-pattern>/Servlet_joinGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Diagram</servlet-name>
        <url-pattern>/Servlet_Diagram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_get_text</servlet-name>
        <url-pattern>/Servlet_get_text</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_student_diagram</servlet-name>
        <url-pattern>/Servlet_student_diagram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetUsers</servlet-name>
        <url-pattern>/ServletGetUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditUser</servlet-name>
        <url-pattern>/ServletEditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDropUser</servlet-name>
        <url-pattern>/ServletDropUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetGroups</servlet-name>
        <url-pattern>/ServletGetGroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDropGroups</servlet-name>
        <url-pattern>/ServletDropGroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditGroups</servlet-name>
        <url-pattern>/ServletEditGroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetDiagrams</servlet-name>
        <url-pattern>/ServletGetDiagrams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDropDiagrams</servlet-name>
        <url-pattern>/ServletDropDiagrams</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
